#bgload {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0EB9D3;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
  }
/* #load-content {
    animation: jump 0.5s ease-in-out infinite;
} */
#text span {
    animation: jump 0.5s ease-in-out forwards;
}
#text {
    position: relative;
	letter-spacing: 5px;
}
#text span {
    position: relative;
    display: inline-block;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

 .waves {
    position: absolute;
    margin-top: 6%;
    width: 100%;
    min-height:140px;
    max-height:120px;
  }

  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 2s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 5s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

/* nav css*/
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
}
.img-resp {
	max-width: 100% !important;
}
.frontm{
	padding: 0% 0% 7% 0%;
	width: auto;
}
.im{
    background-image: url("../image/waves.gif");
    background-size:contain;
    background-repeat: no-repeat;
}
.img-full {
	width: 100%;
	height: 100%;
}
/* body{
	
} */
.textd{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.themecolor {
	transition: 0.5s;
	background-color: #0EB9D3;
}

.btn-theme {
	color: white;
	background-color: #0EB9D3;
	padding: 1.5% 4% 0.5% 4%;
}
.texttheme{
	color: #0EB9D3;
}
.btn-theme:hover {
	transition: 0.2s;
	color: white;
	background-color: #131C44;
}

.navsearchbar {
	font-size: 16px;
}

.btnpad {
	padding: 10px 23px;
	background-color: white;
	font-weight: 500;
}

.menu-hover:hover {
	font-size: 18px;
	transition: 0.3s;
	color: white;
}
.t{
	transition: 0.5s;
}
/* //nav css */
/* login form css start*/


.linput:hover::placeholder,.linput:focus::placeholder{
	color: white;
	transition: 0.5s;
}
.spacetext{
	letter-spacing: 2px;
}
.linput{
	color: black;
	background-color: white;
	transition: 0.4s;
}
.linput:focus,.linput:hover{
	color:  white;
	outline: none;
	background-color: #131C44;
}
.bg-cyan{
	background-image: linear-gradient(to bottom right ,#0EB9D3, #4fc5d7, #f1fdff);
}

.btn-login{
	background-image: linear-gradient(to top left, #5571ed ,#131C44);
	color: white;
	transition: 0.1s;
}
.text-dblue{
	color: #131C44;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-login:hover{
	scale:calc(1.1);
	color: white;
}
.btn-login:focus{
	color: white !important;
}
.flogintext{
	font-size: 18px;
	font-weight: 500;
}

/* login form css end */
.shadowall{
	box-shadow: 0px 0px 2px 0px grey;
}
.mousepoint{
	cursor: pointer;
}
option{
	padding: 20px;
}
.frontbtn{
    height: 57px;
	/* font-size: 15px; */
	/* padding-left: 30px; */
	/* height: 55px; */
	border-radius: 30px 0px 0px 30px !important;
}
.frontinput:focus{
    outline: none;
}
.frontinput{
	height: 57px;
	/* font-size: 90%; */
	/* padding-left: 5%; */
	/* height: 55px; */
	border-radius: 0px 30px 30px 0px !important;
}
.nowrap{
	white-space: nowrap;
}
.navscroll{
	overflow: auto;
	flex-wrap: nowrap;
}
.h-500{
	height: 500px;
}
.cardimg{
	height: 200px ;
	object-fit: cover;
}
/* input[type="radio"] + label::before {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;  
    background-color: rgb(151, 25, 25);
    border: 2px solid #00ff51; 
} */

.logoh{
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.bookcyan{
	background-color: #edfdff;
}
.searchimg{
	width: 200px;
	height: 150px;
	min-width: 150px;
	object-fit: cover;
}
.mousepoint{
	cursor: pointer;
}
.waved{
	height: 120px;
}
input[type=checkbox]{
	background-color: #edfdff;
	border-radius: 10px !important;
}
input[type=checkbox]:focus{
	display: none;
}
input[type=radio]:focus{
	display: none;
}
input[type=radio]{
	background-color: #edfdff;
}

/* footer css*/
.foot{
	background-color: #131C44;
	padding: 50px;
}
.fh6{
	letter-spacing: 4px;
}
.ftextlight{
	color: #C6C8D2;
	font-size: 18px;
}.contactbtn{
	padding: 15px 50px 15px 50px;
    border-radius: 40px;
	font-weight: bold;
}
/* //footer css*/

@media all and (max-width: 767px)  {
    .waves {
		min-height:100px;
		max-height:90px;
	  }  
	  .waved{
		height: 90px;
	  }

}