.letter{
	animation: sp 0.5s ease-in;
}
@keyframes sp {
	0%{
		padding: 0px;
	}
	100%{
		padding: 50px;
		transform:translateY(-150px);
	}
}
.img-resp{
	max-width: 100%;
}
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
}
.img-full{
	width: 100%;
	height	: 100%;
}
#bgload {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .pcard{
	transition: 0.5s;
	transform: translateY(-50px);
	height: 280px;
}

.fwl .fa-star-half-stroke{
	font-weight: 100;
}
#el{

	animation: rot 5s infinite;
	position: absolute;
	z-index: 3;
}
#el1{
	animation: rot 5s 1.25s infinite;
	position: absolute;
	z-index: 3;
}
#el2{
	animation: rot 5s 2.5s infinite;
	position: absolute;
	z-index: 3;
}
#el3{
	animation: rot 5s 3.75s infinite;
	position: absolute;
	z-index: 3;
}
@keyframes rot {
	0%{
		transform: rotateY(0deg) scale(1);
		z-index: 3;
	}
	25%{
		transform: rotateY(90deg) scale(0.8);
		margin-right: 500px;
		z-index: 1;
	}
	50%{
		transform: rotateY(180deg) scale(0.5);
		margin-right: 0px;
		z-index: 1;
	}
	75%{
		transform: rotateY(270deg) scale(0.8);
		margin-right: -500px;
		z-index: 2;
	}
	100%{
		transform: rotateY(360deg) scale(1);
		margin-right: 0px;
		z-index: 3;
	}
}

.linput:hover::placeholder,.linput:focus::placeholder{
	color: white;
	transition: 0.5s;
}
.spacetext{
	letter-spacing: 2px;
}
.linput{
	color: black;
	background-color: white;
	transition: 0.4s;
}
.linput:focus,.linput:hover{
	color:  white;
	outline: none;
	background-color: #131C44;
}
.bg-cyan{
	background-image: linear-gradient(to bottom right ,#0EB9D3, #4fc5d7, #f1fdff);
}

.btn-login{
	background-image: linear-gradient(to top left, #5571ed ,#131C44);
	color: white;
	transition: 0.1s;
}
.text-dblue{
	color: #131C44;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-login:hover{
	scale:calc(1.1);
	color: white;
}
.btn-login:focus{
	color: white !important;
}
.flogintext{
	font-size: 18px;
	font-weight: 500;
}

.mn-2{
	margin-left: -4px;
}
.textd{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.ph{
	overflow: hidden;
	height: 230px;
	border-radius: 7px;
	box-shadow: 0px 5px 7px 1px gray;
	width: 300px;
	transition: 0.5s;
}
.ph:hover .pcard h4{
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 30px;
}
.ph:hover .pcard{
	padding-top: 50px;
	transition: 0.3s;
	transform: translateY(-275px);
}
.ph:hover{
	width: 300px;
	height: 235px;
}
.offercard{
	width: 250px !important;
	height: 300px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	color: #000000;
  }
  .offerimg{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: translateY(0px);
	opacity: 1;
	transition: 0.5s;
	gap: 1.5rem;
  }
  .offerimg img{
	width: 282px;
  }
  .offerimg h5{
	font-size: 25px;
	color: white;
  }
  
  .offercontent{
	margin: -20px;
	text-align: center;
    transform: translate(100px ,70px);	opacity: 0;
	transition: 0.5s;
  }

  .offercard:hover .offercontent{
	transform: translate(-160px, 100px);	opacity: 1;
  }
  
  .offercontent h3{
	font-size: 25px;
	color: white;
	z-index: 1;
  }
  .offercontent p{
	font-size: 1em;
	color: white;
	font-weight:300;
  }
  .offercontent button{
	border: 0.5px dashed;
  }
  .offercontent a{
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	margin-top: 35px;
	background: white;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
.faqscroll{
	overflow: auto;
	flex-wrap: nowrap;
	margin-bottom: 5%;
}
.navscroll {
	overflow: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
}
.h-250{
	height: 250px;
}
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
	background-color: #F5F5F5;
}
.nowrap{
	white-space: nowrap;
}

.h-500{
	height: 500px;
}
.cardimg{
	height: 200px ;
	object-fit: cover;
}
.faq-tab{
	/* padding: 15px 25px 15px 25px; */
	font-size: 1.2550rem;
}
.nav-tabs> .active{
	background-color: #0EB9D3 !important;
	color: white !important;
}
.ex-services-book{
	height: 220px; 
	overflow-y:scroll;
}
.bookcyan{
	background-color: #edfdff;
}
#div2{
	display: none;
}
#div3{
	display: none;
}
.shadowall{
	box-shadow: 0px 0px 2px 0px grey;
}
.logoh{
	width: 200px;
	height: 150px;
	object-fit: cover;
}
.btn:focus{
	border: none;
}
.searchimg{
	width: 200px;
	height: 150px;
	min-width: 150px;
	object-fit: cover;
}
.mousepoint{
	cursor: pointer;
}

@media all and (max-width: 767px){
	.searchimg{
		height: 7rem;
	}
}